x-project {
    display: inline-block;
}

x-project h1 {
    margin-bottom: 1rem;
}

x-project p {
    margin-bottom: 1rem;
}

.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }